<head>
    <title>test</title>
    <meta charset="utf-8" />
    <link href="../public/css/main.css" type="text/css" rel="stylesheet" />
</head>

<body class="contact">
    <div>
        <div class="left">
            <table cellpadding="0" cellspacing="0" width="462">
                <tr>
                    <td style="border:1px solid #cecece;">
                        <a href="https://map.naver.com/?searchCoord=c3654b33511cddbaf036dd00990205228608673f727127b504f4623c85bcd68b&query=6rK96riw64%2BEIOyViOyCsOyLnCDsg4HroZ3qtawg7ZWc7JaR64yA7ZWZ66GcIDU1IOygnDPqs7XtlZnqtIAgNDIx&tab=1&lng=94b050ec08bd4eb39af6aa95c742d9f6&mapMode=0&mpx=378440cc024a29cf9f93ad9e419838dce48a935ed2a00e824788d5934bfb2d84ab2174ccfa8a2e2b333a4257a790bfd1114cf56534e3fa4aa99e194ba634bd56&lat=7528b1111ad5d97869603aa28310e369&dlevel=12&enc=b64&menu=location&rpanel=n-f"
                            target="_blank">
                            <img src="http://prt.map.naver.com/mashupmap/print?key=p1570538986928_-972895223" width="460" height="340" alt="지도 크게 보기" title="지도 크게 보기" border="0" style="vertical-align:top;" />
                        </a>
                    </td>
                </tr>
            </table>

            <!-- <ul>
                <li>
                    <p>Engineering Building #3, Room 421 </p>
                    <p><strong>HANYANG UNIVERSITY ERICA CAMPUS</strong> </p>
                    <p>55, Hanyangdaehak-ro, Sangnok-gu, Ansan-si, Gyeonggi-do</p>
                </li>
                <li> 경기도 안산시 상록구 한양대학로 55 제3공학관 421 </li>
                <li> +82-31-400-4754 </li>

            </ul> -->
        </div>
        <div class="right">
            <form action="/create_process" method="post">
                <p>
                    <input type="text" autocomplete="off" name="title" placeholder="title">
                </p>
                <p>
                    <input type="text" autocomplete="off" name="name" placeholder="name">
                </p>
                <p>
                    <input type="text" autocomplete="off" name="email" placeholder="email">
                </p>
                <p>
                    <textarea autocomplete="off" name="description" placeholder=""></textarea>
                </p>
                <p><input type="submit"></p>
            </form>
        </div>


    </div>
</body>