<head>
    <!-- <link href="a.css" type="text/css" rel="stylesheet" /> -->
</head>

<main role="main" style="height: 870px;">
    <div class="container">
        <div class="contents">
            <h1>COURSES</h1>
            <div id="course_table">
                <table id="first_table">
                    <tbody>
                        <tr>
                            <th class="coursenum" colspan="2">Undergraduate Courses</th>
                        </tr>
                        <tr>
                            <td class="coursenum" data-href="cse107"><a href="?id=CSE107">CSE107</a></td>
                            <td class="course" data-href="cse107"><a href="?id=CSE107">Logical Fundamentals of
									Programming</a></td>
                        </tr>
                        <tr>
                            <td class="coursenum">CSE117</td>
                            <td class="course">Programming Fundamentals</td>
                        </tr>
                        <tr>
                            <td class="coursenum">CSE322</td>
                            <td class="course">Web Programming</td>
                        </tr>
                        <tr>
                            <td class="coursenum active" data-href="cse326"><a href="./CSE107.html">CSE326</a></td>
                            <td class="course active" data-href="cse326"><a href="./CSE107.html">Web Application
									Development</a></td>
                        </tr>
                        <tr>
                            <td class="coursenum" data-href="cse406">CSE406</td>
                            <td class="course" data-href="cse406">Software Engineering</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="course_table">
                <table id="first_table">
                    <tbody>
                        <tr>
                            <th class="coursenum" colspan="2">Postgraduate Courses</th>
                        </tr>
                        <tr>
                            <td class="coursenum" data-href="cin870">CIN870</td>
                            <td class="course" data-href="cin870">Formal Methods</td>
                        </tr>
                        <tr>
                            <td class="coursenum" data-href="cse603">CSE603</td>
                            <td class="course" data-href="cse603">Management of Semistructured Data</td>
                        </tr>
                        <tr>
                            <td class="coursenum" data-href="cse609">CSE609</td>
                            <td class="course" data-href="cse609">Model Checking</td>
                        </tr>
                        <tr>
                            <td class="coursenum" data-href="cse639">CSE639</td>
                            <td class="course" data-href="cse639">Special Topics in Software Engineering</td>
                        </tr>
                        <tr>
                            <td class="coursenum active" data-href="cse6050">CSE6050</td>
                            <td class="course active" data-href="cse6050">Advanced Software Engineering</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>