<div class="main_banner">

</div>
<div class="main_cotent">

    <div class="left">
        <h2>Notice</h2>
        <table>
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
            <tr>
                <td class="title"><a href="#">연구원 모집</a></td>
                <td class="date"><a href="#">29 Aug 2014</a></td>
            </tr>
            <tr>
                <td class="title"><a href="#">2014 PL-SE First Joint Workshop</a></td>
                <td class="date"><a href="#">29 Apr 2014</a></td>
            </tr>
            <tr>
                <td class="title"><a href="#">Welcome to SELab Homepage!</a></td>
                <td class="date"><a href="#">06 Mar 2014</a></td>
            </tr>
        </table>
    </div>
    <div class="right">
        <h2>Courses on this semester</h2>
        <ul>
            <li>
                <a href="#">CSE326 Web Application Development</a>
            </li>
            <li>
                <a href="#">CSE6050	Advanced Software Engineering</a>
            </li>
        </ul>
    </div>

</div>



<div class="main_footer">
    <p>this is footer</p>
</div>