<div id='members'>
    <h1>MEMBERS</h1>
    <div class="section">
        <h2> Professor </h2>
        <div class="human">
            <img class="photo" src="https://selab.hanyang.ac.kr/members/photos/scott.jpg" alt="image1">
            <ul>
                <li> Scott Uk-Jin Lee </li>
                <li> scottlee@hanyang.ac.kr </li>
                <li> TBA </li>
                <li> an asst. prof. in the CSE Dept. @ HYU (ERICA) leading this Laboratory! </li>
            </ul>
            <ul>
                Career
                <li>
                    11 - : Assistant Professor in CSE Dept. @ Hanyang University, Korea<br/> 09 - 11 : Postdoc @ CEA LIST, France<br/> 05 - 06 : SE Programmer in SE Dept. @ University of Auckland, NZ<br/> 04 - 04 : Visiting Researcher @ National University
                    of Singapore<br/> 04 - 08 : Ph.D in Computer Science @ University of Auckland, NZ<br/> 00 - 03 : BE in Software Engineering @ University of Auckland, NZ<br/>
                </li>
            </ul>
        </div>
    </div>

    <div class="section">
        <h2> Ph. D. </h2>
        <div class="human">
            <img class="photo" src="https://selab.hanyang.ac.kr/members/photos/Isma.jpg" alt="image2">
            <ul>
                <li> Isma Farah </li>
                <li> isma2012@hanyang.ac.kr </li>
                <li> http://www.linkedin.com/in/ismafarah </li>
                <li> PhD scholar From Pakistan on HEC Scholarship </li>
            </ul>
        </div>

        <div class="human">
            <img class="photo" src="https://selab.hanyang.ac.kr/members/photos/photo%20(1).JPG" alt="image3">
            <ul>
                <li> Abdul Rahim </li>
                <li> rahim750413@hanyang.ac.kr </li>
                <li> https://www.facebook.com/abdul.ariffin </li>
                <li> Master's leading to Phd scholar from Kuala Lumpur,Malaysia </li>
            </ul>
        </div>
    </div>

    <div class="section">
        <h2> M. E. </h2>
        <div class="human">
            <img class="photo" src="https://selab.hanyang.ac.kr/members/photos/11.jpg" alt="image4">
            <ul>
                <li> Gayeon Kim </li>
                <li> gayeonkim91@gmail.com </li>
                <li> HI </li>
            </ul>
            <ul>
                Research Interests
                <li>Software Engineering<br/> Web Application<br/> Bigdata analysis<br/>
                </li>
            </ul>
        </div>

        <div class="human">
            <img class="photo" src="https://selab.hanyang.ac.kr/members/photos/325115318014822206.jpg" alt="image5">
            <ul>
                <li> Wu Zhiqian </li>
                <li> hhhwwwuuu@hanyang.ac.kr </li>
            </ul>
            <ul>
                Research Interests
                <li>
                    Software engineering<br/> - Concurrency Detection<br/> - Malware Detection<br/>
                </li>
            </ul>
        </div>
    </div>

    <!-- <div class="section">
        <img class="photo" src="image.jpg" alt="not image">
        <h2> Intern </h2>
        <div class="human">
            <ul>
                <li> Name </li>
                <li> E-mail </li>
                <li> site </li>
                <li> information </li>
                <p> Research Interests </p>
                <li> Java <br> Python <br>
                </li>
            </ul>
        </div>

        <div class="human">
            <img class="photo" src="image.jpg" alt="not image">
            <ul>
                <li> Name </li>
                <li> E-mail </li>
                <li> site </li>
                <li> information </li>
                <p> Research Interests </p>
                <li> Java <br> Python <br>
                </li>
            </ul>
        </div>
    </div>

    <div class="section">
        <h2> Alumni </h2>
        <div class="human">
            <img class="photo" src="image.jpg" alt="not image">
            <ul>
                <li> Name </li>
                <li> E-mail </li>
                <li> site </li>
                <li> information </li>
                <p> Research Interests </p>
                <li> Java <br> Python <br>
                </li>
            </ul>
        </div>

        <div class="human">
            <img class="photo" src="image.jpg" alt="not image">
            <ul>
                <li> Name </li>
                <li> E-mail </li>
                <li> site </li>
                <li> information </li>
                <p> Research Interests </p>
                <li> Java <br> Python <br>
                </li>
            </ul>
        </div>
    </div> -->
</div>