<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
</head>

<body>
	<h1>This is members</h1>
	<ul id="menu" class="inline-list pull-left">
		<li><a href="./notice.html" >NOTICE</a></li>
		<li><a href="./members.html" >MEMBERS</a></li>
		<li><a href="./research.html" >RESEARCH</a></li>
		<li><a href="./publications.html">PUBLICATIONS</a></li>
		<li><a href="./courses.html" >COURSES</a></li>
		<li><a href="./gallery.html" >GALLERY</a></li>
	</ul>
			<a href="./login.html">LOGIN</a>
			<a href="./contact.html" >CONTACT</a>

	<h1> MEMBERS </h1>
	<div class = "position">
		<h2> Professor </h2>
		<div class = "human">
			<img class="photo" src="image.jpg" alt= "not image">
			<ul>
				<li> Name </li>
				<li> E-mail </li>
				<li> site </li>
				<li> information </li>
				<p> Career </p>
				<li> 2016~ <br>
					 2017~ <br>
				</li>


			</ul>
		</div>
	</div>

	<div class = "position">
		<h2> Ph. D. </h2>
		<div class = "human">
			<img class="photo" src="image.jpg" alt= "not image">
			<ul>
				<li> Name </li>
				<li> E-mail </li>
				<li> site </li>
				<li> information </li>
				<p> Research Interests </p>
				<li> Java <br>
					 Python <br>
				</li>
			</ul>
		</div>

		<div class = "human">
			<img class="photo" src="image.jpg" alt= "not image">
			<ul>
				<li> Name </li>
				<li> E-mail </li>
				<li> site </li>
				<li> information </li>
				<p> Research Interests </p>
				<li> Java <br>
					 Python <br>
				</li>
			</ul>
		</div>
	</div>

	<div class = "position">
		<h2> M. E. </h2>
		<div class = "human">
			<img class="photo" src="image.jpg" alt= "not image">
			<ul>
				<li> Name </li>
				<li> E-mail </li>
				<li> site </li>
				<li> information </li>
				<p> Research Interests </p>
				<li> Java <br>
					 Python <br>
				</li>
			</ul>
		</div>

		<div class = "human">
			<img class="photo" src="image.jpg" alt= "not image">
			<ul>
				<li> Name </li>
				<li> E-mail </li>
				<li> site </li>
				<li> information </li>
				<p> Research Interests </p>
				<li> Java <br>
					 Python <br>
				</li>
			</ul>
		</div>
	</div>

	<div class = "position">
		<img class="photo" src="image.jpg" alt= "not image">
		<h2> Intern </h2>
		<div class = "human">
			<ul>
				<li> Name </li>
				<li> E-mail </li>
				<li> site </li>
				<li> information </li>
				<p> Research Interests </p>
				<li> Java <br>
					 Python <br>
				</li>
			</ul>
		</div>

		<div class = "human">
			<img class="photo" src="image.jpg" alt= "not image">
			<ul>
				<li> Name </li>
				<li> E-mail </li>
				<li> site </li>
				<li> information </li>
				<p> Research Interests </p>
				<li> Java <br>
					 Python <br>
				</li>
			</ul>
		</div>
	</div>

	<div class = "position">
		<h2> Alumni </h2>
		<div class = "human">
			<img class="photo" src="image.jpg" alt= "not image">
			<ul>
				<li> Name </li>
				<li> E-mail </li>
				<li> site </li>
				<li> information </li>
				<p> Research Interests </p>
				<li> Java <br>
					 Python <br>
				</li>
			</ul>
		</div>

		<div class = "human">
			<img class="photo" src="image.jpg" alt= "not image">
			<ul>
				<li> Name </li>
				<li> E-mail </li>
				<li> site </li>
				<li> information </li>
				<p> Research Interests </p>
				<li> Java <br>
					 Python <br>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
