<div>
    <div class="content">
        <ul class="board">
            <li>
                <ul class="info">
                    <li>Title</li>
                    <li>Name</li>
                    <li>Date</li>
                </ul>
            </li>
            <li>
                <!--db읽어와서 list로 보여주는걸로 변경필요-->
                <ul class="entry">
                    <li>연구원모집</li>
                    <li>Scott Uk-Jin Lee</li>
                    <li>29 Aug 2014</li>
                </ul>
            </li>
            <li>
                <ul class="entry">
                    <li>2014 PL-SE First Joint Workshop</li>
                    <li>Scott Uk-Jin Lee</li>
                    <li>29 Aug 2014</li>
                </ul>
            </li>
            <li>
                <ul class="entry">
                    <li>Welcome to SELab Homepage!</li>
                    <li>Scott Uk-Jin Lee</li>
                    <li>29 Aug 2014</li>
                </ul>
            </li>
        </ul>

    </div>
</div>