<div>
    <h1>NOTICE</h1>

    <table id="notice_table">
        <tr>
            <th>title</th>
            <th>name</th>
            <th>date</th>
        </tr>
        <tr>
            <td>연구원 모집</td>
            <td>Scott Uk-Jin Lee</td>
            <td>29 Aug 2014</td>
        </tr>
        <tr>
            <td>2014 PL-SE First Joint Workshop</td>
            <td>Scott Uk-Jin Lee</td>
            <td>29 Apr 2014</td>
        </tr>
        <tr>
            <td>Welcome to SELab Homepage!</td>
            <td>Scott Uk-Jin Lee</td>
            <td>06 Mar 2014</td>
        </tr>
    </table>
</div>