<div id="pub">
    <h1>PUBLICATIONS</h1>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'all')">All</button>
        <button class="tablinks" onclick="openCity(event, 'inter_confer')">International Conference</button>
        <button class="tablinks" onclick="openCity(event, 'inter_journal')">International Journal</button>
        <button class="tablinks" onclick="openCity(event, 'dom_confer')">Domestic Conference</button>
        <button class="tablinks" onclick="openCity(event, 'dom_journal')">Domestic Journal</button>

    </div>

    <div id="all" class="tabcontent">
        <table class="publications_table">
            <tr>
                <th>All</th>

            </tr>
            <tr>
                <td>연구원 모집</td>

            </tr>
            <tr>
                <td>2014 PL-SE First Joint Workshop</td>

            </tr>
            <tr>
                <td>Welcome to SELab Homepage!</td>

            </tr>
        </table>
    </div>

    <div id="inter_confer" class="tabcontent">
        <table class="publications_table">
            <tr>
                <th>International Conference</th>
            </tr>
            <tr>
                <td>연구원 모집</td>
            </tr>
            <tr>
                <td>2014 PL-SE First Joint Workshop</td>
            </tr>
            <tr>
                <td>Welcome to SELab Homepage!</td>
            </tr>
        </table>
    </div>

    <div id="inter_journal" class="tabcontent">
        <table class="publications_table">
            <tr>
                <th>Internaltional Journal</th>
            </tr>
            <tr>
                <td>연구원 모집</td>
            </tr>
            <tr>
                <td>2014 PL-SE First Joint Workshop</td>
            </tr>
            <tr>
                <td>Welcome to SELab Homepage!</td>
            </tr>
        </table>
    </div>
    <div id="dom_confer" class="tabcontent">
        <table class="publications_table">
            <tr>
                <th>Domestic Conferernce</th>
            </tr>
            <tr>
                <td>연구원 모집</td>
            </tr>
            <tr>
                <td>2014 PL-SE First Joint Workshop</td>
            </tr>
            <tr>
                <td>Welcome to SELab Homepage!</td>
            </tr>
        </table>
    </div>

    <div id="dom_journal" class="tabcontent">
        <table class="publications_table">
            <tr>
                <th>Domestic Journal</th>
            </tr>
            <tr>
                <td>연구원 모집</td>
            </tr>
            <tr>
                <td>2014 PL-SE First Joint Workshop</td>
            </tr>
            <tr>
                <td>Welcome to SELab Homepage!</td>
            </tr>
        </table>
    </div>

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</div>