<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
</head>

<body>
	<h1>This is research</h1>
	<ul id="menu" class="inline-list pull-left">
		<li><a href="notice" >NOTICE</a></li>
		<li><a href="members" >MEMBERS</a></li>
		<li><a href="research" >RESEARCH</a></li>
		<li><a href="publications">PUBLICATIONS</a></li>
		<li><a href="courses" >COURSES</a></li>
		<li><a href="gallery" >GALLERY</a></li>
	</ul>
			<a href="login">LOGIN</a>
			<a href="contact" >CONTACT</a>


	<div class="subject">
		<h1> Introduction </h1>
		<div class="research">
			<h2> Web & Web Security </h2>
			<img class="photo" src="image.jpg" alt= "not image">
			<ul>
				<li>Semantic web</li>
				<li>Effective Access Control for web data</li>
				<li>vulnerability analsys and detection for html5</li>
			</ul>
		</div>


		<div class="research">
			<h2> Formal Engineering Methods </h2>
			<img class="photo" src="image.jpg" alt= "not image">
			<ul>
				<li>info1</li>
				<li>info2</li>
				<li>info3</li>
			</ul>
		</div>
	</div>

</body>
</html>
