body {
    margin: auto;
    background-color: yellow;
}

.test {
    border: solid 5px black;
}


/* #topMenu {
    height: 30px;
    width: 850px;
}

#topMenu ul li {
    list-style: none;
    color: white;
    background-color: #2d2d2d;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

#topMenu .menuLink {
    text-decoration: none;
    color: white;
    display: block;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum, Arial;
}

#topMenu .menuLink:hover {
    color: red;
    background-color: #4d4d4d;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}