body {
    margin: auto;
}


/* .test {
    border: solid 5px black;
} */

#topMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#topMenu li {
    float: left;
}

#topMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topMenu li a:hover {
    background-color: #111;
}